---
layout: ""
page_title: "Provider: Stax"
description: |-
  The [Stax](https://www.stax.io/) terraform provider provides resources to interact with the [Stax API](https://support.stax.io/hc/en-us/articles/4447453523343-Using-the-Stax-API).
---

# Stax Provider

The Stax terraform provider is used to interact with resources supported by Stax. The provider needs to be configured with an [API Token](https://www.stax.io/developer/api-tokens/) before it can be used.

## Getting Started

TBA

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}