---
layout: ""
page_title: "Provider: Stax"
description: |-
  The [Stax](https://www.stax.io/) terraform provider provides resources to interact with the [Stax API](https://support.stax.io/hc/en-us/articles/4447453523343-Using-the-Stax-API).
---

# Stax Provider

The Stax terraform provider is used to interact with resources supported by Stax.

## Getting Started

If your new to terraform then the hashicorp developer site has a great guide to getting up and running [Install Terraform](https://developer.hashicorp.com/terraform/tutorials/aws-get-started/install-cli) with AWS.

Once you have terraform installed you will require the following.

1. An [API Token](https://www.stax.io/developer/api-tokens/) which can be created in the stax console. The token must have the `Read Only (API)` role to read using datasources, or `Admin (API)` role to create and manage accounts.
2. The [Stax Short Installation ID](https://support.stax.io/hc/en-us/articles/4537150525071-Stax-Installation-Regions) which hosts your Stax tenancy.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}